{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{% trans "COVID-19 Assist" %} - {% block title %}{% trans "Get help with Coronavirus" %}{% endblock %}</title>
  <meta name="description" content="{% trans "Live video chat consultations with volunteers." %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/clinic.css" %}">

  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">

  {% block head %}{% endblock %}

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '491566434872177');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=491566434872177&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body>

{% block banner %}
  {% if request.site.id == 1 %}
    <div class="banner">
      <h5>{% trans "Call for Volunteers" %}</h5>
      <p><b>{% trans "We are accepting volunteer applications and scaling up as quickly as possible." %}</b> {% trans "We will resume taking calls when enough volunteers are available." %}</p>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
