{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ request.site.name }} - {% block title %}{% trans "Get help with Coronavirus" %}{% endblock %}</title>
  <meta name="description" content="{% trans "Live video chat consultations with volunteers." %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/clinic.css" %}">

  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
  
  {% if SENTRY_CONFIG %}
    <script
      src="https://browser.sentry-cdn.com/5.15.2/bundle.min.js"
      integrity="sha384-HA4Glk4hAwUFBIu+OfNR4bvn6vGCxT134gRiQce9rwp2YfxcuHHG8nG7qkooJwFt"
      crossorigin="anonymous"></script>
    {{ SENTRY_CONFIG|json_script:'sentry-config' }}
    <script>Sentry.init(JSON.parse(document.getElementById('sentry-config').textContent));</script>
  {% endif %}

  {% block head %}{% endblock %}
</head>
<body>

{% block banner %}{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
