{% extends "clinic/base.html" %}
{% load i18n %}
{% block content %}

<div class="container disclaimer">
  <div class="row top">
    <h2><a href="{% url 'index' %}">{% trans "COVID-19 Assist" %}</a></h2>
    <p>{% trans "Please read and acknowledge the following" %}:</p>
    <ul>
      <li>{% trans "This service is provided in good faith as a last resort for those who are otherwise unable to obtain help and advice during this unprecedented public health emergency." %}</li>
      <li>{% trans "We are not a healthcare provider. Our volunteers do not provide individual medical advice or diagnosis; they are here to answer your questions about the Coronavirus." %}</li>
      <li>{% trans "Volunteers are minimally verified and may not be licensed practitioners in your jurisdiction. Any advice you receive from volunteers is taken at your own risk." %}</li>
      <li>{% trans "Volunteers may take brief notes about the presenting complaint, symptoms, and management plan. These notes will be stored according to best practices. Information will not be shared unless required by law." %}</li>
      <li>{% trans "Your name or other personally identifying information will not be stored. Your IP address will be stored to help protect our systems." %}</li>
      <li>{% trans "By continuing, you confirm that you agree to our" %} <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a> {% trans "and" %} <a href="{% url 'terms' %}">{% trans "Terms of Use" %}</a>.</li>
      <li><b>{% trans "If you have a medical emergency, call your local emergency services or go to a hospital." %}</b></li>
    </ul>
    <form action="{% url 'disclaimer' %}" method="post">
      {% csrf_token %}
      <label for="enable-video">
        <input type="checkbox" id="enable-video" name="video" value="1" checked>
        <span class="label-body">{% trans "Enable my camera" %}</span>
      </label>
      <input class="button-primary" type="submit" value="{% trans "I agree" %}">
    </form>
  </div>
</div>

{% endblock %}
