{% extends "clinic/base.html" %}
{% load i18n %}

{% block title %}{% trans "Frequently Asked Questions" %}{% endblock %}

{% block content %}

<div class="container faq">
  <div class="row top">
    <h2><a href="{% url 'index' %}">{{ request.site.name }}</a></h2>
    <h4>{% trans "Frequently Asked Questions" %}</h4>
  </div>

  <div class="row">
    <h6>{% trans "What is COVID-19?" %}</h6>
    <p>{% trans "In early February, the World Health Organization gave the name coronavirus disease 2019 to the disease caused by the 2019 novel coronavirus. Coronavirus disease 2019 is abbreviated as COVID-19. COVID can be broken into three parts: CO stands for corona, VI stands for virus, and D stands for disease." %}
    </p>
    <h6>{% trans "How can I protect myself from COVID-19?" %}</h6>
    <p>{% trans "The best way to protect yourself is to avoid exposure to the 2019 novel coronavirus. If your state or local health officials issue quarantines, shelter in place orders or other mandates, following these orders will limit your exposure to the virus." %}
    </p>
    <p>{% trans "Other steps you can take include washing your hands with soap for at least 20 seconds, not touching your face with unwashed hands, and practicing social distancing. Keep at least 6 feet from people outside of your household." %}</p>
    <h6>{% trans "What are the symptoms of COVID-19?" %}</h6>
    <p>{% trans "COVID-19 symptoms typically appear 2-14 days after exposure. Symptoms include fever, cough, and shortness of breath." %}
    </p>
    <h6>{% trans "When should I be tested for COVID-19?" %}</h6>
    <p>{% trans "If you develop symptoms such as fever, cough, or shortness of breath, and have been in contact with an individual who is known to have COVID-19 or have been in an area with sustained community spread, please contact your healthcare provider by phone. Your healthcare provider will determine if you need testing. If you do not have a primary healthcare provider, contact your local department of health to arrange testing." %}
    </p>
    <h6>{% trans "How can I protect others if I test positive?" %}</h6>
    <p>{% trans "The best way to protect others is to simply stay home when you are sick, except to receive medical care." %}</p>
    <p>{% trans "You can also protect others by covering your sneezes and coughs, wearing a face mask, and disinfecting commonly touched surfaces on a daily basis." %}
    </p>
    <h6>{% trans "Is there a cure for COVID-19?" %}</h6>
    <p>{% trans "There is currently no specific cure for COVID-19." %}</p>
    <p>{% trans "When an individual is suffering from severe symptoms, he or she may require hospitalization, supplemental oxygen, or may even require the use of a ventilator." %}
    </p>
    <h6>Am I at a high risk for complications if infected with COVID-19?</h6>
    <p>You are most at risk if you are older than 70, are immunocompromised, or have an underlying chronic disease such as high blood pressure, diabetes, kidney, heart or lung disease.</p>
    <h6>How is COVID-19 transmitted?</h6>
    <p>It is believed that it is transmitted mainly from human to human. A person infected with COVID-19 can be contagious even before their symptoms appear. It is a highly contagious viral infection that transmits through the air, by sneezing, coughing, or contact with shared surfaces.</p>
    <h6>Where did COVID-19 first break out?</h6>
    <p>The first cases were reported in Wuhan, Hubei Province, China in December 2019. At this time, it is unknown how the first humans became infected with the virus.</p>
    <h6>How do I care for someone with COVID-19?</h6>
    <p>Wash your hands frequently for 20 seconds at a time or use an alcohol based hand sanitizer. Wear a mask and gloves when caring for them. Dispose of gloves and mask immediately after use. Dispose of waste carefully. Don’t share household items. Clean commonly touched surfaces such as toilets, sink tap handles, door knobs on a daily basis.</p>
    <p>Monitor for emergency warning signs such as difficulty breathing, bluish lips or face, unable to remain alert, persistent chest pain.</p>
    <p>Treat the symptoms as advised by a healthcare professional.</p>
    <h6>When can I end my self-isolation?</h6>
    <p>Follow the guidelines set out by your local authorities.</p>
    <h6>Where can I get more information about COVID-19?</h6>
    <ul>
        <li>More information about Coronavirus is available on the <a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">CDC website</a>.</li>
        <li>The National Alliance on Mental Illness has produced a <a href="https://www.nami.org/getattachment/About-NAMI/NAMI-News/2020/NAMI-Updates-on-the-Coronavirus/COVID-19-Updated-Guide-1.pdf">resource guide</a> for those seeking help.</li>
        <li>211 is a vital service that connects millions of people to help every year. To get expert, caring help, simply call 211 today or search for your local 211 on <a href="http://211.org">211.org</a>.</li>
        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">Situation reports</a> are provided on the World Health Organization website.</li>
        <li><a href="https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd">Coronavirus disease (COVID-19) Situation Dashboard</a> offers a summary global report updated daily with World Health Organization data.</li>
        <li>For local reports, you should visit your city or government's website for the latest information. It is important to be aware of any localized outbreaks.</li>
    </ul>
  </div>
</div>

{% endblock %}
