{% extends "clinic/base.html" %}
{% load i18n static %}

{% block content %}

<div class="container">

  <div class="row top">
    <div class="nine columns">
      <h2><a href="{% url 'index' %}">{{ request.site.name }}</a></h2>
    </div>
    <div class="three columns language">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url 'index' %}">
        {% trans "Language" %}:
        <select name="language" onchange="this.form.submit()">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }}
            </option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="row intro">
    <div class="seven columns">
      <p>
        {% trans "This website is a place to get help with Coronavirus if you don't have access to a doctor." %}
        {% trans "Video chat with volunteers who can answer your questions." %}
      </p>
      <ul>
        <li><a href="{% url 'faq' %}">Find answers for frequently asked questions about COVID-19.</a></li>
        <li><a href="{% url 'landing_doctor' %}">See how it works for volunteers.</a></li>
        <li><a href="{% url 'landing_org' %}"><b>New:</b> Our platform is available for clinics and other community organizations.</a></li>
      </ul>
    </div>
    <div class="five columns stock-photo">
      <img src="{% static 'images/telemedicine.png' %}" width="250">
    </div>
  </div>

  <div class="row start-buttons">
    <div class="one-half column start-button doctor">
      <a href="{% url 'volunteer' %}">
        <h4>{% trans "Healthcare Professionals, Students, and Retirees" %}</h4>
        <h5>{% trans "Click here to volunteer now" %}</h5>
        <ol>
          <li>{% trans "Upload your credentials" %}</li>
          <li>{% trans "Select languages spoken" %}</li>
          <li>{% trans "Test your webcam" %}</li>
        </ol>
      </a>
    </div>

    <div class="one-half column start-button patient">
      <a href="{% url 'disclaimer' %}">
        <h4>{% trans "Need help with Coronavirus?" %}</h4>
        <h5>{% trans "Click here to video chat with a volunteer" %}</h5>
        <p>{% trans "It's free, and you don't need a camera or app." %}</p>
        <p class="wait-time long">{% trans "There may be a long wait at the moment" %}</p>
      </a>
    </div>
  </div>

  {% include 'clinic/footer.html' %}

</div>

{% endblock %}
