{% load i18n %}

<div class="row">
  <div class="eight columns video">
    <div class="media-container">
      <div id="remote-media"></div>
      <div id="local-media"></div>
    </div>
  </div>
  <div class="four columns chat">
    <p>Please notify <a href="mailto:contact@doc19.org">contact@doc19.org</a> of any technical issues.</p>
    <ol id="chat-messages"></ol>
    <form action="#" onsubmit="sendChatMessage(); return false" autocomplete="off">
      {% csrf_token %}
      <input id="send-message" type="text" class="u-full-width" placeholder="{% trans "Send a message" %}">
      <input class="button" type="submit" value="{% trans "Send" %}">
    </form>
  </div>
</div>
