{% extends "clinic/base.html" %}
{% load i18n %}

{% block head %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}

<div class="container unverified">
  <div class="row top">
    <h2>{{ request.site.name }}</h2>
    <h4>{% trans "Verification in progress..." %}</h4>
    <p>{% trans "Thank you. We will verify your credentials as soon as possible." %}</p>
  </div>
</div>
<br>
{% if user.is_authenticated %}
 <p>Your google account was linked succesfully</p>
{% else %} 
<p><a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'consulation' %}">{% trans "Sign in with Google" %}</a></p>

{% endif %}

{% endblock %}
