{% extends "clinic/base.html" %}
{% load i18n %}

{% block title %}{% trans "Waiting for visitor" %}{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="15">
{% endblock %}

{% block content %}

<div class="container waiting doctor">
  <div class="row top">
    <h2>{{ request.site.name }}</h2>
    <h4>{% trans "Waiting for someone to request help" %}</h4>
    <p>{% trans "Please leave this page open. It will automatically refresh every 15 seconds." %}</p>
    <p>{% trans "If you're responding to a call notification, the call may have been answered by another volunteer." %}</p>
  </div>
</div>

{% endblock %}
