a {
	color: #0692bd;
}

h2 a {
	text-decoration: none;
	color: black;
}

@media (min-width: 500px) {
	div.language, div.terms {
		text-align: right;
	}
}

.start-buttons a {
	text-decoration: none;
	color: #222;
}

.start-button {
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}

.start-button h4 {
	font-weight: bold;
}

.start-button.patient {
	border: 5px solid #2cbce8;
}

.start-button.patient:hover {
	background-color: #f2fdff;
}

.start-button.doctor {
	border: 5px solid #6767c7;
}

.start-button.doctor:hover {
	background-color: #f5f7ff;
}

.row.top, .row.footer, .row.self-cert {
	margin-top: 20px;
}

.row.top .language form {
	margin-bottom: 10px;
}

.volunteer .button-primary {
	margin-top: 15px;
}

.volunteer #id_languages {
	list-style-type: none;
}

.volunteer #id_languages label {
	font-weight: normal;
}

.volunteer #id_languages input {
	margin-right: .5rem;
}

.volunteer input[type="checkbox"] {
	margin-bottom: 0;
}

.volunteer .self-cert .label-body {
	display: inline;
}

ul.errorlist {
	margin-bottom: 5px;
}

ul.errorlist li {
	list-style-type: none;
	border: 2px solid red;
	border-radius: 5px;
	display: inline-block;
	padding: 2px 5px;
}

.banner {
	padding: 10px 15px;
	background-color: #ededfc;
}

.banner h5, .banner p {
	margin-bottom: 5px;
}

.media-container {
	position: relative;
	margin-bottom: 15px;
}

.session #local-media {
	position: absolute;
	top: 10px;
	left: 10px;
}

.session #local-media video {
	width: 25%;
}

#remote-media * {
	top: 0;
	left: 0;
	max-width: 100%;
}

.volunteer #local-media video {
	max-width: 300px;
}

.footer .columns, .row.intro {
	margin-bottom: 15px;
}

@media (min-width: 500px) {
	.row.intro p {
		font-size: 1.1em;
	}
	.row.intro .stock-photo {
		text-align: right;
	}
}

.row.intro ul {
	list-style-type: none;
}

.volunteer .row.notify, #notify-options {
	margin-top: 20px;
}

.volunteer .notify-interval p.help {
	display: none;
}

.volunteer .notify-interval span.help {
	padding-left: 5px;
}

#notify-options p {
	margin-bottom: 10px;
}

.volunteer .email-info, #notify-warning {
	margin-bottom: 20px;
}

.volunteer .credentials li {
	margin-bottom: 2px;
}

.wait-time.long {
	color: #c41200;
	font-weight: bold;
}

.faq h6 {
	font-weight: bold;
}

.volunteer .row.remarks {
	margin-top: 20px;
}

.intro .row.top img {
	margin: 0 0 20px 20px;
}

@media (min-width: 500px) {
	.intro .row.top img {
		width: 300px;
	}

	.intro .how-it-works {
		display: flex;
	}

	.intro .how-it-works .columns {
		flex: 1;
	}
}

.intro .how-it-works {
	margin-bottom: 15px;
}

.intro .how-it-works h5 {
	font-weight: bold;
	margin-bottom: 10px;
}

.intro .how-it-works a.block {
	text-decoration: none;
	color: #222;
}

.intro .how-it-works big {
	display: block;
	margin-bottom: 15px;
}

.intro .how-it-works p {
	margin-bottom: 5px;
}

.intro .how-it-works .columns {
	margin-bottom: 20px;
	padding: 10px;
	border: 3px solid #6767c7;
	border-radius: 5px;
}

div.chat ol {
	width: 100%;
	max-height: 350px;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
}

@media (max-width: 500px) {
	div.chat ol {
		max-height: 150px;
	}
}

div.chat li {
	margin-bottom: 15px;
}

div.chat li .name {
	font-size: .9em;
	font-weight: bold;
	padding-right: 10px;
}

div.chat li .time {
	font-size: .8em;
	color: #777;
}

.submit-org input[type="text"], .submit-org input[type="email"], .submit-org textarea {
	width: 100%;
}

.finish textarea {
	width: 100%;
}

.disclaimer form {
	margin-top: 20px;
}

.disclaimer .button-primary {
	margin-top: 10px;
}
